<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
<link rel="stylesheet" href="/assets/code.css"/>

<style>
    body {
        background-color: black;
        color: lightblue;
    }

    article {
        background-color: black;
    }

    .social-links {
        text-align: right;
        margin-bottom: 10px;
    }

    h1, h2, h3, h4 {
        color: #4094b0;
    }

    pre code {
        border: 1px solid #4094b0;
        border-radius: 3px;
        padding: 10px;
    }

    code.language-plaintext {
        background-color: lightblue;
        color: black;
    }

</style>